:root {
  --primary: green;
  --secondary: teal;

  --gray-100:#d3d3d3;
  --gray-200: #ebecf0;
  --gray-300: #bebebe;
  --gray-400: #949494;
  --gray-500: #808080;

  --max-width: 680px;
  
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 6px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;
  --space-7: 20px;
  --space-8: 24px;
  

}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--gray-500)
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 0 var(--space-8);
  margin: 0 auto;
  max-width: var(--max-width);
}


